<!DOCTYPE html>
<html>
    <head>
      <title>Job Listing</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
    </head>

    <body>

       <div class="container-fluid">
         <%= render "common/navbar" %>
         <%= render "common/flashes" %>
          <div class="row">
             <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked" style="max-width: 120px; padding-top:25px;">
                    <li class="btn btn-xs btn-info"><img src='<%= image_url '用户.svg'%>'  width="50" height="50" ><%= link_to("Jobs/Admin", admin_jobs_path ) %> </li>
                </ul>
            </div>

            <div class="col-md-10">
               <%= yield %>
            </div>
         </div>
       </div>

       <%= render "common/footer" %>

    </body>
</html>
